*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
.container{
    background-image: url(../images/22.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    position: relative;
}
.container::before {
    content: "";
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10000;
}
.logo img{
    padding-left: 100px;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}
li a{
    color: white;
    text-decoration-line: none;
    border-radius: 10px;
    padding: 10px;
}
li .active, li a:hover {
    color: #17B8B8;
    background-color: rgba(128, 128, 128, 0.34);
}
.icon{
    cursor: pointer;
    border-radius: 10px;
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: none;
}
.shortline{
    width: 25px;
    height: 2px;
    background-color: white;
}
/*
.icon:hover{
    background-color: rgb(50, 49, 49);
}*/
.icon:hover .shortline{
    box-shadow: 1px 1px 3px rgb(255, 255, 255);
}
.health-tips-content{
    padding-top: 100px;
    padding-bottom: 50px;
    position: relative;
    margin-left: 10vw;
}
.health-tips-content h1{
    color: white;
    font-size: 40px;
    padding-left: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.health-tips-cards{
    padding-left: 30px;
}
.health-tips-card{
    padding-top: 40px;
    width: 60%;
}
.health {
    color: white;
}
.health-tips-card h2{
    padding-bottom: 10px;
    color: white;
}
.health-tips-card p{
    color: white;
    font-size: 20px;
    line-height: 30px;
}


@media (max-width: 768px){
    .n{
        display: none;
    }
    .icon{
        display: block;
        margin-right: 20px;
    }
    .shortline{
        width: 35px;
        margin-bottom: 6px;
    }
    .health-tips-card{
        width: 80%;
    }
}
@media (min-width: 768px) and (max-width: 992px){
    .n{
        display: none;
    }
    .icon{
        display: block;
        margin-right: 20px;
    }
    .shortline{
        width: 35px;
        margin-bottom: 6px;
    }
    .health-tips-card{
        width: 80%;
    }
}
@media (min-width: 992px){
    .logo img{
        margin-left: -40px;
    }
    li{
        padding-left: 5px;
        padding-right: 10px;
        font-size: 18px;
    }
}






/*
@media (max-width:1066px){
    
}
@media (min-width:1065) and (max-width:1096px) {
    .logo img{
        margin-left: -40px;
    }
    li{
        padding-left: 5px;
        padding-right: 10px;
        font-size: 18px;
    }
}
*/
